<h2>---------------------------Vegitable------------------------------------------</h2>

 <section id="Popular-product">
 
    <div class="product-container">
      <div class="product-box">
        <img src="assets/veg/Screenshot 2024-06-19 104801.png"alt="apple">
        <span class="fix">Coconut</span>
        <span class="quan">1 </span>
        <span class="price"> Rs :100</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/veg/Screenshot 2024-06-19 104821.png"alt="apple">
        <span class="fix">Okra(Bandakka) </span>
        <span class="quan"> 1 kg</span>
        <span class="price">Rs:100</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/veg/Screenshot 2024-06-19 104921.png"alt="apple">
        <span class="fix">Leeks </span>
        <span class="quan"> 1 kg </span>
        <span class="price"> Rs:250</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/veg/Screenshot 2024-06-19 110632.png"alt="apple">
        <span class="fix">Capsicum</span>
        <span class="quan">1kg</span>
        <span class="price"> Rs :100</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/veg/Screenshot 2024-06-19 110656.png"alt="apple">
        <span class="fix">Cabbage</span>
        <span class="quan">1kg</span>
        <span class="price"> Rs :150</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>

    </div>
    <div class="product-container">
        <div class="product-box">
          <img src="assets/veg/Screenshot 2024-06-19 104615.png"alt="apple">
          <span class="fix">Onion </span>
          <span class="quan">500g </span>
          <span class="price"> Rs :300</span>
          
          <!--cart-btn  ----->
          <a href="#" class="cart-btn">
            <i class="fas fa-shopping-bag"></i>Add To Cart
          </a>
          <!--like btn-->
          <a href="#" class="like-btn">
            <i class="far fa-heart"></i>
          </a>
        </div>
    
        <div class="product-box">
          <img src="assets/veg/Screenshot 2024-06-19 104648.png"alt="apple">
          <span class="fix">Tomato</span>
          <span class="quan">500g </span>
          <span class="price">Rs :100</span>
          
          <!--cart-btn  ----->
          <a href="#" class="cart-btn">
            <i class="fas fa-shopping-bag"></i>Add To Cart
          </a>
          <!--like btn-->
          <a href="#" class="like-btn">
            <i class="far fa-heart"></i>
          </a>
        </div>
    
        <div class="product-box">
          <img src="assets/veg/Screenshot 2024-06-19 104710.png"alt="apple">
          <span class="fix">Potato </span>
          <span class="quan">1 kG</span>
          <span class="price"> Rs :250</span>
          
          <!--cart-btn  ----->
          <a href="#" class="cart-btn">
            <i class="fas fa-shopping-bag"></i>Add To Cart
          </a>
          <!--like btn-->
          <a href="#" class="like-btn">
            <i class="far fa-heart"></i>
          </a>
        </div>
    
    
        <div class="product-box">
          <img src="assets/veg/Screenshot 2024-06-19 104730.png"alt="apple">
          <span class="fix"> Carrots </span>
          <span class="quan"> 1  kG </span>
          <span class="price"> Rs :200</span>
          
          <!--cart-btn  ----->
          <a href="#" class="cart-btn">
            <i class="fas fa-shopping-bag"></i>Add To Cart
          </a>
          <!--like btn-->
          <a href="#" class="like-btn">
            <i class="far fa-heart"></i>
          </a>
        </div>
    
    
        <div class="product-box">
          <img src="assets/veg/Screenshot 2024-06-19 104853.png"alt="apple">
          <span class="fix">Pumpkin</span>
          <span class="quan">1kG</span>
          <span class="price"> Rs :100</span>
          
          <!--cart-btn  ----->
          <a href="#" class="cart-btn">
            <i class="fas fa-shopping-bag"></i>Add To Cart
          </a>
          <!--like btn-->
          <a href="#" class="like-btn">
            <i class="far fa-heart"></i>
          </a>
        </div>
  
      </div>
  
</section>


<h2>-----------------------------------------Fish & Meat------------------------------------------</h2>

<section id="Popular-product">
    <div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 112819.png"alt="apple">
        <span class="fix">Sudaya </span>
        <span class="quan"> 1kg </span><br>
        <span class="price">Rs :590</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 113728.png"alt="apple">
        <span class="fix">Aust. Lamb Leg </span>
        <span class="quan"> 1 kg </span><br>
        <span class="price">Rs :1700</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 113830.png"alt="apple">
        <span class="fix">Crysbro chicken </span>
        <span class="quan"> 1kg </span>
        <span class="price">Rs :850</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 113852.png"alt="apple">
        <span class="fix">Prima chicken</span>
        <span class="quan">1kg </span>
        <span class="price">Rs :850</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 115522.png"alt="apple">
        <span class="fix"> Beef </span>
        <span class="quan"> 1kg  </span><br>
        <span class="price"> Rs :1500</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
<div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 113206.png"alt="apple">
        <span class="fix">Prawns Medium</span>
        <span class="quan">1kg </span>
        <span class="price">Rs 1,640.00</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 112918.png"alt="apple">
        <span class="fix">Thalapath small </span>
        <span class="quan">1kg </span><br>
        <span class="price">Rs 2,490</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 113016.png"alt="apple">
        <span class="fix">Kumbalawa</span>
        <span class="quan">1kg</span><br>
        <span class="price">Rs :1650</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 113059.png"alt="apple">
        <span class="fix">Tuna Fish </span>
        <span class="quan">1kg</span><br>
        <span class="price">Rs :1650</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/meat/Screenshot 2024-06-19 113243.png"alt="apple">
        <span class="fix">Linna</span>
        <span class="quan">1kg </span>
        <span class="price">RS :930</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
</section>

<h2>-----------------------------------------Bakery------------------------------------------</h2>

<section id="Popular-product">
    <div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 120729.png"alt="apple">
        <span class="fix">Sandwich</span>
        <span class="quan">500g</span>
        <span class="price"> Rs :300</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 120807.png"alt="apple">
        <span class="fix">SweetBread</span>
        <span class="quan">250g</span>
        <span class="price"> Rs :100</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 120831.png"alt="apple">
        <span class="fix">Little Lion cake</span><br>
        <span class="quan"></span>
        <span class="price">Rs :250</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 120854.png"alt="apple">
        <span class="fix">Little Lion</span><br>
        <span class="quan">fruit cake</span><br>
        <span class="price">Rs :550</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 121301.png"alt="apple">
        <span class="fix">Cookies </span><br>
        <span class="quan"></span>
        <span class="price">Rs :250</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
<div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 120922.png"alt="apple">
        <span class="fix">Tiara </span>
        <span class="quan">chocolate cake </span>
        <span class="price"> Rs :450</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 120954.png"alt="apple">
        <span class="fix">Revello </span>
        <span class="quan">Brownie  </span><br>
        <span class="price"> Rs :450</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 121020.png"alt="apple">
        <span class="fix">Sandwich Bread </span>
        <span class="quan">450g </span>
        <span class="price">Rs:250</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 121347.png"alt="apple">
        <span class="fix">Cupcake</span>
        <span class="quan">1pcs</span>
        <span class="price"> Rs :80</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/bekary/Screenshot 2024-06-19 121243.png"alt="apple">
        <span class="fix">Tea Bun</span>
        <span class="quan">4pcs </span>
        <span class="price"> RS :100</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
</section>

<h2>-----------------------------------------Baby items------------------------------------------</h2>

<section id="Popular-product">
    <div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 122718.png"alt="apple">
        <span class="fix">Panda Baby </span>
        <span class="quan"> Gift Pack</span>
        <span class="price"> RS:750</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 122740.png"alt="apple">
        <span class="fix">Nangrow</span>
         <span class="price"> RS:750</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 122803.png"alt="apple">
        <span class="fix"> Pears</span><br>
        <span class="quan">Baby cologne</span>
        <span class="price"> Rs: 450</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 122855.png"alt="apple">
        <span class="fix">Diaper</span><br>
        <span class="quan"></span>
        <span class="price">RS :500</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 122922.png"alt="apple">
        <span class="fix">velona cuddles</span>
        <span class="quan">32pcs</span>
        <span class="price"> RS:700</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
<div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 123256.png"alt="apple">
        <span class="fix">Pediapro</span>
        <span class="quan">200g </span>
        <span class="price">Rs:500</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 123134.png"alt="apple">
        <span class="fix">Baby item </span>
        <span class="quan">5 pcs </span><br>
        <span class="price"> Rs :6000</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 123422.png"alt="apple">
        <span class="fix">Baby Cheramy</span>
        <span class="quan">400ml </span>
        <span class="price">Rs :350</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 123216.png"alt="apple">
        <span class="fix">Baby chair </span>
        <span class="price">Rs :2000</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/baby itms/Screenshot 2024-06-19 123317.png"alt="apple">
        <span class="fix">Baby soaps </span>
        <span class="quan"> 5pcs </span>
        <span class="price">Rs:250</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
</section>
<h2>-----------------------------------------School Items------------------------------------------</h2>

<section id="Popular-product">
    <div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/school/1.png"alt="apple">
        <span class="fix">Atlas Book </span>
        <span class="quan">400 pages</span><br>
        <span class="price"> Rs :650</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/school/2.png"alt="apple">
        <span class="fix">Promate book</span>
        <span class="quan"> 400 pages </span>
        <span class="price">RS :750</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/school/3.png"alt="apple">
        <span class="fix"> NoteBook </span><br>
        <span class="price"> Rs: 300</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/school/4.png"alt="apple">
        <span class="fix">file clips </span>
        <span class="quan">PCS 10 </span><br>
        <span class="price"> RS :100</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/school/5.png"alt="apple">
        <span class="fix">Bag </span>
        <span class="quan">35 L </span><br>
        <span class="price">Rs :3000</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
<div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/school/6.png"alt="apple">
        <span class="fix">pencil case </span>
        <span class="quan">1 L </span><br>
        <span class="price">Rs :350</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/school/7.png"alt="apple">
        <span class="fix">Ruler</span>
        <span class="quan">15cm</span><br>
        <span class="price">Rs:30</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/school/8.png"alt="apple">
        <span class="fix">Ruler</span>
        <span class="quan">30cm</span><br>
        <span class="price">Rs:70</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/school/9.png"alt="apple">
        <span class="fix">NOte Book </span>
        <span class="quan">80cpages </span><br>
        <span class="price">Rs :450</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/school/10.png"alt="apple">
        <span class="fix">Exercise Book </span>
        <span class="quan">128 pages </span><br>
        <span class="price">Rs :380</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
</section>
<h2>-----------------------------------------Cosmatics------------------------------------------</h2>

<section id="Popular-product">
    <div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/cosmatic/1.png"alt="apple">
        <span class="fix">POND'S </span>
        <span class="quan">Light Moisturiser </span><br>
        <span class="price">Rs :550</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/cosmatic/2.png"alt="apple">
        <span class="fix">chandanalepa </span>
        <span class="quan">Herbal cream </span>
        <span class="price">Rs :550</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/cosmatic/3.png"alt="apple">
        <span class="fix">Food Cream </span>
        <span class="quan">100g </span><br>
        <span class="price">Rs :250</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/cosmatic/4.png"alt="apple">
        <span class="fix">Velvet </span><br>
        <span class="quan">Body Lotion</span><br>
        <span class="price">Rs:300</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/cosmatic/5.png"alt="apple">
        <span class="fix">Ayush </span><br>
        <span class="quan">Face cream </span><br>
        <span class="price">Rs:300</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
<div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/cosmatic/6.png"alt="apple">
        <span class="fix">Glow & handsome</span><br>
        <span class="price">RS :550</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/cosmatic/7.png"alt="apple">
        <span class="fix">Prevense </span>
        <span class="quan">Night Moisturiser </span><br>
        <span class="price">Rs: 450</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/cosmatic/8.png"alt="apple">
        <span class="fix"> Prevense </span><br>
        <span class="quan"> Repair cream </span><br>
        <span class="price"> RS :450</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/cosmatic/9.png"alt="apple">
        <span class="fix">Rani </span>
        <span class="quan">sandalwood </span>
        <span class="price">Rs:350</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/cosmatic/10.png"alt="apple">
        <span class="fix">Pears </span>
        <span class="quan">100 ml </span>
        <span class="price">RS :630</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
</section>
<h2>-----------------------------------------Grocery------------------------------------------</h2>

<section id="Popular-product">
    <div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/grocery/1.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/grocery/2.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/grocery/3.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/grocery/4.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/grocery/5.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
<div class="product-heading">
     
    <div class="product-container">
      <div class="product-box">
        <img src="assets/grocery/6.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/grocery/7.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
      <div class="product-box">
        <img src="assets/grocery/8.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/grocery/9.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
  
      <div class="product-box">
        <img src="assets/grocery/10.png"alt="apple">
        <span class="fix">Apple</span>
        <span class="quan">1 kG</span>
        <span class="price">$2</span>
        
        <!--cart-btn  ----->
        <a href="#" class="cart-btn">
          <i class="fas fa-shopping-bag"></i>Add To Cart
        </a>
        <!--like btn-->
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
  
    </div>
  
</div>
</section>