<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--bootstrap css-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!--script-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/lightbox.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

<section class="banner_section">
    <div class=" container">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"> 
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption">
             <div class="banner-content">
                 <h1>100% oraganic</h1>
                 <h3>freash and nuturala food</h3>
                 <p>thuewhbx hhwuuuwh xwhhuwh wuhwux hwuhwuhu bwuwhuhcu uwuhwu</p>
                 <a href="#" class="btn main-btn">All product</a>
             </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption">
             <div class="banner-content">
                 <h1>100% oraganic</h1>
                 <h3>freash and nuturala food</h3>
                 <p>thuewhbx hhwuuuwh xwhhuwh wuhwux hwuhwuhu bwuwhuhcu uwuhwu</p>
                 <a href="#" class="btn main-btn">All product</a>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


  <!--category -->
  <section id="category">
  <div class="category-heading">
    <h2 >Category</h2>
    <span>All</span>
  </div>

  <div class="category-container">
    <a href="#fish" class="category-box">
      <img src="assets/fish.png" alt="fish">
      <span>Fish & Meat</span>
      </a>

    <a href="#vegitable" class="category-box">
        <img src="assets/vegetable.png" alt="fish">
        <span>vegitable</span>
        </a>

        <a href="#medicine" class="category-box">
          <img src="assets/medicine.png" alt="fish">
          <span>Medicine</span>
          </a>

          <a href="#baby" class="category-box">
            <img src="assets/baby.png" alt="fish">
            <span>Baby items</span>
            </a>

            <a href="#office" class="category-box">
              <img src="assets/office.png" alt="fish">
              <span>School Items</span>
              </a>

              <a href="#beautiy" class="category-box">
                <img src="assets/cosmetics.png" alt="fish">
                <span>Beauty</span>
                </a>
  </div>
</section>

<!--popular -product--------------->
<section id="Popular-product">
  <div class="product-heading">
    <h3>Popular Product</h3>
    <span>All</span>
  </div>

  <div class="product-container">
    <div class="product-box">
      <img src="assets/apple.png"alt="apple">
      <span class="fix">Apple</span>
      <span class="quan">1</span><br>
      <span class="price">RS 50</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>

    <div class="product-box">
      <img src="assets/veg/Screenshot 2024-06-19 104615.png"alt="apple">
      <span class="fix">Onion </span>
      <span class="quan">500g Rs :300</span>
      <span class="price">Rs :300</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>

    <div class="product-box">
      <img src="assets/veg/Screenshot 2024-06-19 104710.png"alt="apple">
      <span class="fix">Potato</span>
      <span class="quan">1 kG</span><br>
      <span class="price">Rs :250</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>


    <div class="product-box">
      <img src="assets/grocery/4.png"alt="apple">
      <span class="fix">Soya</span><br>
      <span class="price">Rs :80</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>


    <div class="product-box">
      <img src="assets/grocery/8.png"alt="apple">
      <span class="fix">sold</span>
      <span class="quan">250 g</span><br>
      <span class="price">Rs :90</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>

  </div>

</section>

<!--popular -bundle-pack==============-->
<section id="Popular-pack">
     <div class="product-heading">
      <h3>popular bundel pack</h3>
      <span>All</span>
  </div>

  <div class="product-container">
    <div class="product-box">
      <img src="assets/frozen.png"alt="apple">
      <span class="fix">frozen vegitable</span>
      <span class="quan">250 g</span><br>
      <span class="price">Rs 250</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>

    <div class="product-box">
      <img src="assets/mix vegitable.png"alt="apple">
      <span class="fix">mix vegitable</span><br>
      <span class="quan">1 kG</span><br>
      <span class="price">Rs :500</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>

    <div class="product-box">
      <img src="assets/mixed.png"alt="apple">
      <span class="fix">vegitable</span>
      <span class="quan">1 kG</span><br>
      <span class="price">Rs :500</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>

    <div class="product-box">
      <img src="assets/vegitable selection.png"alt="apple">
      <span class="fix">vegitable selection</span><br>
      <span class="quan">1 kG</span><br>
      <span class="price">Rs :750</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>

    <div class="product-box">
      <img src="assets/steam fresh.png"alt="apple">
      <span class="fix">steam fresh</span><br>
      <span class="quan">1 kG</span><br>
      <span class="price">Rs :1000</span>
      
      <!--cart-btn  ----->
      <a href="#" class="cart-btn">
        <i class="fas fa-shopping-bag"></i>Add To Cart
      </a>
      <!--like btn-->
      <a href="#" class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>
    </div>
</section>

<!--Fish and meet-->
<section id="category-backet" id="fish" >
<section id="Popular-pack">
  <div class="product-heading">
   <h3>Fish & Meet</h3>
   <a href="/product"><span>More</span></a> 
</div>

<div class="product-container">
 <div class="product-box">
   <img src="assets/meat/Screenshot 2024-06-19 112819.png"alt="apple">
   <span class="fix">Sudaya </span>
   <span class="quan"> 1kg </span><br>
   <span class="price">Rs :590</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/meat/Screenshot 2024-06-19 112918.png"alt="apple">
   <span class="fix">Thalapath small</span>
   <span class="quan">1 kg </span><br>
   <span class="price">RS 1640.00</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/meat/Screenshot 2024-06-19 113016.png"alt="apple">
   <span class="fix">Kumbalwa</span>
   <span class="quan">1kg</span><br>
   <span class="price">Rs :1650</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/meat/Screenshot 2024-06-19 113059.png"alt="apple">
   <span class="fix">Tuna fish </span>
   <span class="quan">1kg </span>
   <span class="price">Rs:1650</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/meat/Screenshot 2024-06-19 113243.png"alt="apple">
   <span class="fix">Linna </span>
   <span class="quan">1 kg </span><br>
   <span class="price">Rs :930</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>
 </div>
</section>
<!--vegitable-->
<section id="category-backet" id="vegitable" >
<section id="Popular-pack">
  <div class="product-heading">
   <h3>Vegitable</h3>
   <a href="#"><span>More</span></a>
</div>

<div class="product-container">
 <div class="product-box">
   <img src="assets/veg/Screenshot 2024-06-19 104615.png"alt="apple">
   <span class="fix">Onion </span>
   <span class="quan">500g </span>
   <span class="price"> Rs :300</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/veg/Screenshot 2024-06-19 104648.png"alt="apple">
   <span class="fix">Tomato </span>
   <span class="quan">500g </span>
   <span class="price">Rs :100</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/veg/Screenshot 2024-06-19 104710.png"alt="apple">
   <span class="fix">Potato </span>
   <span class="quan">1 kg </span>
   <span class="price"> Rs :250</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/veg/Screenshot 2024-06-19 104730.png"alt="apple">
   <span class="fix"> Carrots </span>
   <span class="quan"> 1  kG </span>
   <span class="price"> Rs :200</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/veg/Screenshot 2024-06-19 104853.png"alt="apple">
   <span class="fix">Pumpkin</span>
   <span class="quan">1kG</span>
   <span class="price"> Rs :100</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>
 </div>
</section>
</section>
<!--bakery-->
<section id="category-backet " id=" medicine" >
<section id="Popular-pack" >
  <div class="product-heading">
   <h3>Bekery</h3>
   <a href="#"><span>More</span></a>
</div>

<div class="product-container">
 <div class="product-box">
   <img src="assets/bekary/Screenshot 2024-06-19 120729.png"alt="apple">
   <span class="fix">Sandwich</span>
   <span class="quan">500g</span>
   <span class="price"> Rs :300</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/bekary/Screenshot 2024-06-19 120807.png"alt="apple">
   <span class="fix">SweetBread</span>
   <span class="quan">250g</span>
   <span class="price"> Rs :100</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/bekary/Screenshot 2024-06-19 120831.png"alt="apple">
   <span class="fix">Little Lion cake</span><br>
   <span class="quan"></span>
   <span class="price">Rs :250</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/bekary/Screenshot 2024-06-19 120854.png"alt="apple">
   <span class="fix">Little Lion</span><br>
   <span class="quan">fruit cake</span><br>
   <span class="price">Rs :550</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/bekary/Screenshot 2024-06-19 121301.png" alt="apple">
   <span class="fix">Cookies </span><br>
   <span class="quan"></span>
   <span class="price">Rs :250</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>
 </div>
</section>
</section>
<!--baby items-->
<section id="category-backet" id="baby" >
<section id="Popular-pack" >
  <div class="product-heading">
   <h3>baby items</h3>
   <a href="#"><span>More</span></a>
</div>

<div class="product-container">
 <div class="product-box">
   <img src="assets/baby itms/Screenshot 2024-06-19 122718.png"alt="apple">
   <span class="fix">Panda Baby </span>
   <span class="quan"> Gift Pack</span>
   <span class="price"> RS:750</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/baby itms/Screenshot 2024-06-19 122740.png"alt="apple">
   <span class="fix">Nangrow</span>
   <span class="quan"> </span><br>
   <span class="price"> RS:750</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/baby itms/Screenshot 2024-06-19 122803.png"alt="apple">
   <span class="fix"> Pears</span><br>
   <span class="quan">Baby cologne</span>
   <span class="price"> Rs: 450</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/baby itms/Screenshot 2024-06-19 122855.png"alt="apple">
   <span class="fix">Diaper</span><br>
   <span class="quan"></span>
   <span class="price">RS :500</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/baby itms/Screenshot 2024-06-19 122922.png"alt="apple">
   <span class="fix">velona cuddles</span>
   <span class="quan"> PCS 32</span>
   <span class="price"> RS:700</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>
 </div>
</section>
</section>
<!--office-->
<section id="category-backet"id="office" >
<section id="Popular-pack" >
  <div class="product-heading">
   <h3>School Items</h3>
   <a href="#"><span>More</span></a>
</div>

<div class="product-container">
 <div class="product-box">
   <img src="assets/school/1.png"alt="apple">
   <span class="fix">Atlas Book</span>
   <span class="quan">400 </span>
   <span class="price">Rs :650</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/school/2.png"alt="apple">
   <span class="fix">Promate book</span>
   <span class="quan"> 400 pages</span><br>
   <span class="price">RS :750</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/school/3.png"alt="apple">
   <span class="fix">NoteBook</span><br>
  
   <span class="price"> Rs: 300</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/school/4.png"alt="apple">
   <span class="fix">file clips </span>
   <span class="quan">PCS 10</span><br>
   <span class="price"> RS :100</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/school/5.png"alt="apple">
   <span class="fix">Bag</span>
   <span class="quan">35 L</span><br>
   <span class="price">Rs :3000</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>
 </div>
</section>
</section>
<!--cosmatic-->
<section id="category-backet " id=" Beautiy" >
<section id="Popular-pack">
  <div class="product-heading">
   <h3>Cosmatic</h3>
   <a href="#"><span>More</span></a>
</div>

<div class="product-container">
 <div class="product-box">
   <img src="assets/cosmatic/1.png"alt="apple">
   <span class="fix">POND'S </span><br>
   <span class="quan">Light Moisturiser </span><br>
   <span class="price">Rs :550</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/cosmatic/2.png"alt="apple">
   <span class="fix">chandanalepa </span><br>
   <span class="quan">Herbal cream </span><br>
   <span class="price">Rs :550</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/cosmatic/3.png"alt="apple">
   <span class="fix">Food Cream </span><br>
   <span class="quan">100g </span><br>
   <span class="price">Rs :250</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/cosmatic/4.png"alt="apple">
   <span class="fix">Velvet </span><br>
   <span class="quan">Body Lotion</span><br>
   <span class="price">Rs:300</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>

 <div class="product-box">
   <img src="assets/cosmatic/5.png"alt="apple">
   <span class="fix">Ayush </span><br>
   <span class="quan">Face cream </span><br>
   <span class="price">Rs:300</span>
   
   <!--cart-btn  ----->
   <a href="#" class="cart-btn">
     <i class="fas fa-shopping-bag"></i>Add To Cart
   </a>
   <!--like btn-->
   <a href="#" class="like-btn">
     <i class="far fa-heart"></i>
   </a>
 </div>
 </div>
</section>
</section>


<!--==========partner logo=========-->
<section id="partner">

  <div class="partner-heading">
    <h3>Our Trusted Partners</h3>
  </div>
  <div class="logo-container">
    <img src="assets/partners/uniliver.png" alt="logo">
     <img src="assets/partners/atles.png" alt="logo">
     <img src="assets/partners/maliban.jpg" alt="logo">
     <img src="assets/partners/manchi.png" alt="logo">
     <img src="assets/partners/Nestle-Logo.png" alt="logo">
  </div>

</section>
 <!--Download App section-->
<section id ="download-app">
    <div class="app-img">
      <img src="assets/app.png">
    </div>
    <div class="download-app-text">
      <strong>Download App</strong>
      <p>take good experience</p>
    </div>
</section>

<section class="footer_wrapper mt-3 mb-md-0"  id="foot">
  <div class="container px-5 px-lg-0">
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
        <h5>Nimboo</h5>
        <p class="mb-4 ps-0 company_details">Lorem ipsum dolor sit amet,consectetur adipiscing elit.duis dignissiim erat ut laorest</p>
        <div class="contact-info">
          <ul class="list-unstyled">
            <li><a href="#"><i class="fa fa-home me-3"></i>No. 96,sourth city, London</a></li>
            <li><a href="#"><i class="fa fa-phone me-3"></i>154278925</a></li>
            <li><a href="#"><i class="fa fa-envelope me-3"></i>infoexample.com</a></li>

          </ul>
        </div>
      </div>
    
          
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
        <h5>Customer Support</h5>
        <ul class="link-widge p-0">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privercy Policy</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Product Return</a></li>
          <li><a href="#">Wholesale Policy</a></li>
        </ul>
      </div>
     
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
        <h5>Quck Links</h5>
        <ul class="link-widge p-0">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Privercy Policy</a></li>
          <li><a href="#">Terms & Condition</a></li>
          <li><a href="#">Product Return</a></li>
          <li><a href="#">Wholesale Policy</a></li>
        </ul>
      </div>
    
      <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
        <h5>News letter</h5>
        <div class="form-group mb-4">
          <input type="email" class="form-control bg-transparent" placeholder="Enter your Email">
          <button type="submit" class="btn main-btn">Subscribe</button>
        </div>
        <h5>Stay Connected</h5>
        <ul class="social-network d-flex aling-items-center p-0">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twittter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

</section>
